extends layout

block content

	div.subhead-window
		div.container
			h1 CricketScorer
			p.lead Sleek and powerful application for easy cricket scorekeeping.

	div.app-window

		div#step-zero(style='display:block;')
			div.container
				button.next-btn.btn.btn-primary.btn-large Get Started

		div#step-one(style='display:none;')
			div.container

				h3 Team One
				input#team1-name(type='text', placeholder='Team name here...')
				h3 Team Two
				input#team2-name(type='text', placeholder='Team name here...')
				p.lead Which team is batting first?
				div#battingTeam.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px;')
					button.btn(type='button', value='1') Team One
					button.btn(type='button', value='2') Team Two
				button.next-btn.btn.btn-primary.btn-large Continue

		div#step-two(style='display:none;')
			div.container

				h3.teamName
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )
				
				p.lead Enter Batsman
					| <span class='batsmanNum'></span>
				input.batsmanName(type='text', placeholder='Batsman name here...')
				div#onStrike.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px; margin-top:10px;')
					button.btn(id='yes', type='button', value='yes') On strike
					button.btn(id='no', type='button', value='no') Not on strike

				button.next-btn.btn.btn-primary.btn-large Continue
				button.endInnings.btn.btn-danger.btn-large(style='margin-top:20px;') End Innings

		div#step-three(style='display:none;')
			div.container
				
				h3.teamName
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )

				p.lead Add New Bowler for <span class='bowlingName'></span>
				input.bowlerName(type='text', placeholder='Bowler name here...')
				button.addBowler.btn.btn-primary(style='margin-top:5px; margin-bottom:20px; width:220px; display:block;') Add Bowler

				p.lead Select Bowler
				select.bowlerList(multiple='multiple', style='width:250px; height:150px; margin-bottom:25px')

				button.next-btn.btn.btn-primary.btn-large Continue
				button.endInnings.btn.btn-danger.btn-large(style='margin-top:20px;') End Innings

		div#step-four(style='display:none;')
			div.container

				h3.teamName
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )

				table.table
					thead
						tr
							th
							th.lead Batsman
							th.lead Runs
					tbody
						tr
							td <i class="icon-arrow-right"></i>
							td.strikeBatsman
							td.strikeBatsmanRB
						tr
							td
							td.nonStrikeBatsman
							td.nonStrikeBatsmanRB
				p.lead
					| <strong>Bowler:</strong> <span class="bowler"></span>
				p.overRecord.lead
				button.next-btn.btn.btn-success.btn-large PLAY BALL

		div#step-five(style='display:none;')
			div.container

				h3.teamName
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )

				.btn-group#ballOutcome(data-toggle='buttons-radio', style='margin-bottom:25px')
					button.btn(type='button', value='0', style='border-radius:0px;') 0
					button.btn(type='button', value='1') 1
					button.btn(type='button', value='2') 2
					div
					button.btn(type='button', value='3') 3
					button.btn(type='button', value='4') 4
					button.btn(type='button', value='5') 5
					div
					button.btn(type='button', value='6') 6
					button.btn(type='button', value='wicket', style='padding-left:35px; padding-right:34px;' ) W
					button.btn(type='button', value='extra', style='border-radius:0px; padding-left:31px; padding-right:32px;') Ex

				button.next-btn.btn.btn-primary.btn-large Continue

		div#step-six(style='display:none;')
			div.container
				div#batsmanSelect.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px;')
					button.btn(id='batsmanOne', type='button', value='1') Name A
					button.btn(id='batsmanTwo', type='button', value='2') Name B

				div#outMethod.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px;')
					button.btn(type='button', value='Run out') Run Out
					button.btn(type='button', value='Caught') Caught
					button.btn(type='button', value='LBW') LBW
					button.btn(type='button', value='Bowled') Bowled
					button.btn(type='button', value='Other') Other

				button.next-btn.btn.btn-primary.btn-large Continue

		div#step-seven(style='display:none;')
			div.container

				h3.teamName
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )

				.btn-group#numRuns(data-toggle='buttons-radio', style='margin-bottom:25px')
					button.btn(type='button', value='0', style='border-radius:0px;') 0
					button.btn(type='button', value='1') 1
					button.btn(type='button', value='2') 2
					div
					button.btn(type='button', value='3') 3
					button.btn(type='button', value='4') 4
					button.btn(type='button', value='5') 5
					div
					button.btn(type='button', value='6') 6
				.btn-group#extraType(data-toggle='buttons-radio', style='margin-bottom:25px')
					button.btn(type='button', value='W', style='border-radius:0px;') Wide
					button.btn(type='button', value='NB') No-ball
					button.btn(type='button', value='B') Byes

				button.next-btn.btn.btn-primary.btn-large Continue
