extends layout

block content

	div.subhead-window
		div.container
			h1 CricketScorer
			p.lead Sleek and powerful framework for easy web development.

	div.app-window

		div#step-zero(style='display:display;')
			div.container
				button.next-btn.btn.btn-primary.btn-large.btn-block Get Started

		div#step-one(style='display:none;')
			div.container

				h3 Team One
				input#team1-name(type='text', placeholder='Team name here...')
				h3 Team Two
				input#team2-name(type='text', placeholder='Team name here...')
				p.lead Which team is batting first?
				div#battingTeam.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px;')
					button#fdsa.btn(type='button', value='1') Team 1
					button.btn(type='button', value='2') Team 2
				button.next-btn.btn.btn-primary.btn-large.btn-block Continue

		div#step-two(style='display:none;')
			div.container

				h3.teamName Team One
				p.lead <span class='teamScore'></span>
					| /
					| <span class='teamWickets'></span>
					| ( <span class='numOvers'></span>.<span class='numBalls'></span> overs )
				p.lead Enter Batsman
					| <span class='batsmanNum'></span>
				div
					input.batsmanName(type='text', placeholder='Batsman name here...')
				div#onStrike.btn-group(data-toggle='buttons-radio', style='margin-bottom:20px; margin-top:10px;')
					button.btn(type='button', value='yes') On strike
					button.btn(type='button', value='no') Not on strike

				button.next-btn.btn.btn-primary.btn-large.btn-block Continue
				button.endInnings.btn.btn-danger.btn-large.btn-block(style='margin-top:20px;') End Innings

		div#step-three(style='display:none;')
			div.container
				p STEP THREE YAY