extends layout

block content

	div.subhead-window
		div.container
			h1 CricketScorer
			p.lead Sleek and powerful framework for easy web development.

	div.app-window

		div#step-zero
			div.container
				button.next-btn.btn.btn-primary.btn-large.btn-block Get Started

		div#step-one(style='display: none;')
			div.container
				p STEP ONE YAY
				button.next-btn.btn.btn-primary.btn-large.btn-block Continue

		div#step-two(style='display: none;')
			div.container
				p STEP TWO YAY
				button.next-btn.btn.btn-primary.btn-large.btn-block Continue

		div#step-three(style='display: none;')
			div.container
				p STEP THREE YAY