doctype 5
html
  
	head

		meta#meta(name='viewport', content='width=device-width; initial-scale=1.0')
		title CricketScorer

		// -------------------- Stylesheets -------------------- //
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		// -------------------- Navbar (Top) ------------------- //
		div.navbar.navbar-fixed-top.navbar-inverse
			div.navbar-inner
				div.container
					a.brand(href='#')
						strong CricketScorer
					ul.nav.pull-right
						li
							a(href="#") About

		block content

		// -------------------- Javascripts -------------------- //
		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/variables.js')
		script(src='/javascripts/cricketscorer.js')
