doctype 5
html
  
	head

		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-capable", content="yes")

		title CricketScorer

		// -------------------- Stylesheets -------------------- //
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body

		// Like button (Facebook)
		#fb-root
		script
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		// -------------------- Navbar (Top) ------------------- //
		div.navbar.navbar-fixed-top.navbar-inverse
			div.navbar-inner
				div.container
					a.brand(href='')
						strong CricketScorer
					ul.nav.pull-right
						li
							a#contact-mailto Contact

		block content

		// -------------------- Javascripts -------------------- //
		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/variables.js')
		script(src='/javascripts/mailto.js')
		script(src='/javascripts/cricketscorer.js')
