body {
	padding-top: 75px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.container {
	width: 100%;
}

.navbar-fixed-top {
	margin-bottom: 0px;
}

.navbar-fixed-top .container {
	width: 100%;
	height: 60px;
	padding-top: 15px;
}

.navbar-fixed-top .navbar-inner {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.subhead-window {
	width: 100%;
	padding: 80px 0px 80px 0px;
	background-color: #66CCFF;
}

.app-window {
	width: 100%;
	padding: 40px 0px 40px 0px;
	background-color: #a9a9a9;
}

input {
	margin-left: auto;
	margin-right: auto;
	display: block;	
}

table {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}

.btn {
	margin-left: auto;
	margin-right: auto;
}

#ballOutcome .btn {
	font-size: 30px;
	padding: 30px 40px 30px 40px;
}

.btn-group {
	display: block;
}

.btn-large {
	display: block;
	width: 300px;
}