body {
	padding-top: 75px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.container {
	width: 100%;
}

.navbar-fixed-top {
	margin-bottom: 0px;
}

.navbar-fixed-top .container {
	width: 100%;
	height: 60px;
	padding-top: 15px;
}

.navbar-fixed-top .navbar-inner {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.subhead-window {
	padding: 80px 80px 80px 80px;
	background-color: #66CCFF;
}

.app-window {
	padding: 40px 80px 40px 80px;
	background-color: #a9a9a9;
}