body {
	padding-top: 75px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	background-image: url('/images/fabric_of_squares_gray.png');
	background-repeat: repeat;
}

.container {
	width: 100%;
}

.navbar-fixed-top {
	margin-bottom: 0px;
	border-bottom: solid;
	border-width: 4px;
	border-color: #1E90FF;
}

.navbar-fixed-top .container {
	width: 100%;
	height: 60px;
	padding-top: 15px;
}

.navbar-fixed-top .navbar-inner {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #000;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.subhead-window {
	width: 100%;
	padding: 100px 0px 100px 0px;
	background-image: url('/images/background-subhead-original.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
			 -o-background-size: cover;
}

.subhead-window h1 {
	font-size: 50px;
	margin-bottom: 30px;
}

.subhead-window p {
	font-size: 25px;
	margin-bottom: 30px;
}

.subhead-window .btn-large {
	height: 60px;
	font-size: 20px;
}

.share-window {
	width: 100%;
	padding: 20px 0px 20px 0px;
	background-color: rgb(245, 245, 245);
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-style: solid;
	border-top-width: 1px;
}

.fb-like {
	top: -3px;
	margin-right: 20px;
}

.app-window {
	width: 100%;
	padding: 40px 0px 40px 0px;
}

input {
	margin-left: auto;
	margin-right: auto;
	display: block;	
}

table {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
}

.btn {
	margin-left: auto;
	margin-right: auto;
}

#ballOutcome .btn {
	font-size: 30px;
	padding: 30px 40px 30px 40px;
}

.btn-group {
	display: block;
}

.btn-large {
	display: block;
	width: 300px;
}